@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.auth-form {
    text-align: center;
}
.small-form{
    width:700px;
}
.header-column{
    float: left;
    height: 80px;
    margin: 0px 0px 0px 20px;
    text-align: center;
    color: black;
}
.menu {
    float: left;
    height: 42px;
    width: 120px;
    text-align: center;
    color: black;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 50px
}
.social a {
    text-align: center;
    width: 28px;
    height: 28px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 0px;
    color: #000;
}
.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.odnoklassniki a:hover {background: #f93; color: #fff;}
.github a:hover {background: #191919; color: #fff;}
.google-pluse a:hover {background: #DD4B39; color: #fff;}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav a {
    text-decoration:none;
    color: black;
}
nav a:hover {
    text-decoration:none;
    color: black;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
}
nav ul li:hover > ul {
    background-color: white;
    top: 29px;
    width: 144px;
    text-align: left;
    border-top: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display:inherit;
    z-index: 8888;
}
nav ul ul li {
    width: 144px;
    float:none;
    display:list-item;
    position: relative;
    border: 1px solid black;
}
/*             Menu                 */
.main-div {
    background-color: #f7f6f6;
    width: 1000px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    display: inline-block;
}
.main-moviediv {
    height: 450px;
    width: 200px;
    margin: 30px 0px 0px 15px;
    display:inline-block;
    text-align: center;
}
.main-movieimg {
    margin-bottom: 10px;
    height: 300px;
    width:100%;
    background-size: 100%;
}
.main-psoon {
    text-decoration: none;
    color: #28a745;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid gray;
}
.main-moviea {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid gray;
}
.btn-success{
    margin-top: 10px;
}

/*              Main                */

.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 500px;
    margin-bottom: 15px;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border: none !important;
    box-shadow: none !important;
}
.slider .news-item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border: none !important;
    box-shadow: none !important;
}
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 20%;
    top: 80%;
    background-color: gray;
    width: 400px;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
.slider-dots {
    text-align: center;
}
.slider-news-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-news-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
.active,
.slider-news-dots_item:hover {
    background-color: #aaa;
}
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider .news-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*              Slider                */

.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
}

.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-clean ul a:hover {
    opacity:1;
}

.footer-clean .item.social {
    text-align:right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align:center;
        padding-bottom:20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align:center;
    }
}

.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}

.footer-clean .item.social > a:hover {
    opacity:0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social > a {
        margin-top:40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social > a {
        margin-top:10px;
    }
}

.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}
/*                Footer              */

